<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="<%= url("/style.css") %>">
    <title>Hangman</title>
</head>
<body>
    <form method="get" action="/start">
        <button type="submit">Start</button>
    </form>
</body>
</html>